@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/static/Inter_18pt-Medium.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.container {
    margin-top: 7rem;
}

.inputCheckBox {
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;
    gap: 0.3125rem;
    width: 100%;
    padding: 0.625rem;
    text-align: left;
    accent-color: #0A5A9C;
}

.checkboxLabel {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #000000;
}

.link {
    color: #0A5A9C;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.modalText {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
    .container {
        margin-top: 5rem;
    }
}