.backgroundImage {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 0vh;
}

.backgroundImage::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../assets/images/BackgroundLogin.png") no-repeat;
    background-size: cover;
    background-position: 52.5vw;
    left: 0;
    filter: brightness(40%);
    z-index: 1;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.legendContainer {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
    width: 100%;
}

.iconBack {
    color: #0A5A9C;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.iconBack:hover {
    color: #0c4778;
    transform: scale(1.15);
}

.bigText {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: clamp(1.25rem, 2vw, 2.5rem);
    color: #0A5A9C;
    text-align: center; /* Garante que o texto permanece centralizado */
}


.smallText {
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-size: clamp(0.8rem, 1vw, 1.25rem);
    color: #000000;
}

.blueBolder {
    color: #0A5A9C;
    font-weight: bold;
}

.blueBolder:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column; 
    width: 52.5vw;
    height: auto;
    margin-top: 140px;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    z-index: 2;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    text-align: center;
}

.baseForm {
    width: 330px;
}

.inputs {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.inputs svg { 
    flex-shrink: 0;
    color: #0A5A9C; 
    font-size: 1.5rem; 
}

.inputField {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 1rem;
}

.buttonBase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    background-color: #0A5A9C;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    gap: 8px;
}

.buttonBase:hover {
    background-color: #0c4778;
    transform: scale(1.03);
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 15px; 
}

.register .blueBolder {
    font-weight: bold;
    color: #0A5A9C;
}

.register .blueBolder:hover {
    color: #084c8a;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .container {
        margin-top: 110px;
    }
}

@media screen and (max-width: 800px) {
    .backgroundImage::before {
        display: none;
    }

    .container {
        width: 100vw;
    }
}
