.backgroundImage {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.backgroundImage::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../assets/images/BackgroundHome.png") rgb(46, 46, 46) no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: 1;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.container {
    display: block;
    max-height:max-content;
    margin-top: 9.375rem;
    margin-left: 3vw; 
    align-items:flex-start;
    flex-wrap: wrap;
    text-align:start;
    z-index: 2;
}

.bigText {
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;  
    color: white;
}

.customList {
    margin-top: 1.625rem;
    list-style-type: disc;
    list-style-position: inside;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: medium; 
}

.buttonsHome {
    padding-block: 0.625rem;
    font-family: 'Poppins', sans-serif; 
    font-weight: bold; 
    color: white;
    margin-top: 1.875rem;
    border-width: 0.125rem;
    border-radius: 1%;
    z-index: 2;
    transition: transform 0.3s ease;
}

.buttonsHome:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.buttonsHome.consPac {
    padding-inline: 0.9375rem;
    background-color: #0A5A9C;
    border-color: #0A5A9C;
}

.buttonsHome.consPac:hover {
    background-color: #0c4778;
    border-color: #ffffff;
}

.buttonsHome.orcPer {
    padding-inline: 0.9375rem;
    background-color: transparent;
    margin-left: 1.25rem;
    border-color: white;
}

.buttonsHome.orcPer:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

@media screen and (min-width: 1440px) {
    .container {
        width: 56rem; 
    }

    .bigText {
        font-size: clamp(3rem, 3vw, 6rem);
    }

    .customList {
        font-size: clamp(1.6rem, 1.5vw, 2rem);
    }

    .buttonsHome {
        font-size: clamp(1.6rem, 1.5vw, 1.9rem);
        border-width: 0.2rem;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .container {
        width: 38rem;
    }
    .bigText {
        font-size: 2.75rem;
    }
    .customList {
        font-size: 1.25rem;
    }
    .buttonsHome{
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 1024px) {
    .container{
        margin-top: 6.875rem;
        width: 25rem;
    }

    .bigText {
        font-size: 2.45rem;
    }

    .customList {
        font-size: 1.1rem;
    }
    
    .buttonsHome{
        width: 21rem;
        font-size: 1.1rem;
    }

    .buttonsHome.orcPer{
        margin-left: 0rem;
    }

}

@media screen and (max-width: 768px) {
    .container{
        margin: auto;
        width: 21rem;
    }
    .bigText{
        font-size: 2.25rem;
        text-align: left;
    }

    .customList {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .buttonsHome {
        font-size: 1rem;
    }
}